## Session1: Introduction to Python and Data Types

•	Installation and Setup:

o	Step-by-step guide to downloading and installing Anaconda Navigator.

•	Variables and Data Types:

o	Understanding variables and exploring different data types (int, float, string).

•	Lists and Tuples:

o	Exploring the concepts of lists and tuples.

o	Understanding indexing and slicing in Python.

In [2]:
print("Hello_world")

Hello_world

# Simple Calculations with Python

 Basic Arithmetic Operations

In [ ]:
1 + 2

In [ ]:
2 * 5

In [ ]:
8 / 2

In [ ]:
2 ** 5


Function Calls

In [3]:
abs(-5)

5

In [4]:
pow(2,5)

32

In [ ]:
sqrt(9)

In [6]:
import math

In [7]:
math.sqrt(9)

3.0

In [8]:
math.floor(12.5)

12

# Data type

Create variables

In [37]:
#int_type
a = 12
b = 2.5
print(f"Varaible a with value ({a}), its datatype is {type(a)} \n")
print(f"Varaible b with value ({b}),its datatype is {type(b)} \n")

Varaible a with value (12), its datatype is <class 'int'>

Varaible b with value (2.5),its datatype is<class 'float'>

In [104]:
#User_input_variable
input_var = input("Enter your number:")

Enter your number:9893839480

In [ ]:
#Avoid_var_name_with_special_chrachters
first-name = 98989
first@name = 7667
first$name = "Bioinformatics"
Bioinformatics-1 = 1
1Bioinformatics = 1

In [42]:
#string_type
str_var1 = "Bio"
str_var2= "_informatics"
print(f"Varaible str_var1 with value ({str_var1}),its datatype is {type(str_var1)} \n")
print(str_var1 + str_var2)

Varaible str_var1 with value (Bio),its datatype is <class 'str'>

Bio_informatics

In [77]:
#apply_functions on str
seq= "CATGCTAGCA"
print(f"C count in seq var is {seq.count('C')}")
print(f"length of seq var is {len(seq)}")
print(f"slice from seq var for first three chrs are {seq[0:3]}")

C count in seq var is 3
length of seq var is 10
slice from seq var for first three chrs are CAT

In [ ]:
#string_is_imutable
str_var2[1] = "e"

In [ ]:
#Avoid to sum str with int
a + str_var1

In [41]:
print(f"here you can sum {str(a) + str_var1}")

here you can sum 12Bio

In [35]:
#Boolean_Values
print(a == 12)
seq= "CATGCTAGCA"
print("CAT" in seq)

True
True

# Task 1 create GC content counter

In [ ]:
########Bystudents

List

In [ ]:
#Lists are a way of organizing your data
xList = [1, 2, 3, 4]
xList

In [88]:
# Concatenation
x = [1, 2, 3, 4]
y = [5, 6, 7, 8]

combine_list = x + y
combine_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [89]:
#list_is_mutable
combine_list[0] = 99
print(f"combine_list after change combine_list index zero into 99 value {combine_list}")
combine_list.insert(2,55)
print(f"combine_list after insert value 55 into second index {combine_list}")
combine_list.pop(1)
print(f"combine_list after removing the second index {combine_list}")

combine_list after change combine_list index zero into 99 value [99, 2, 3, 4, 5, 6, 7, 8]
combine_list after insert value 55 into second index [99, 2, 55, 3, 4, 5, 6, 7, 8]
combine_list after removing the second index [99, 55, 3, 4, 5, 6, 7, 8]

In [90]:
#slicing
combine_list[1:4]

[55, 3, 4]

In [91]:
#list_can_contain_string_also
family= ["Mom", "Dad", "Sis", "Bro", "Bro", "cat", "dog", "Sis"]

In [93]:
#function_on_list
print(f"Sis count in family var is {family.count('Sis')}")
print(f"length of family var is {len(family)}")
print(f"slice from family var for first three chrs are {family[0:3]}")
print(f"Max combine_list var are {max(combine_list)}")
print(f"Min combine_list var are {min(combine_list)}")

Sis count in family var is 2
length of family var is 8
slice from family var for first three chrs are ['Mom', 'Dad', 'Sis']
Max combine_list var are 99
Min combine_list var are 3

In [101]:
#Tuple_vars
tup_var1 = (1, 2, 3)
tup_var2 = ("sis", "mom", "dad")

In [102]:
#function_on_tuple
print(f"sis count intup_var2 is {tup_var2.count('sis')}")
print(f"length of tup_var2 is {len(tup_var2)}")
print(f"slice from tup_var2 for first three chrs are {tup_var2[0:3]}")
print(f"Max tup_var1 var are {max(tup_var1)}")
print(f"Min tup_var1 var are {min(tup_var1)}")

sis count intup_var2 is 1
length of tup_var2 is 3
slice from tup_var2 for first three chrs are ('sis', 'mom', 'dad')
Max tup_var1 var are 3
Min tup_var1 var are 1

In [106]:
#Tuple_is_immutable
tup_var1[1] = 55

2

In [108]:
#Unpacking_tuple
tup_var2 = ("sis", "mom", "dad")
trainx, trainy, testx= tup_var2
print(trainx)
print(trainy)
print(testx)

sis
mom
dad

In [110]:
#unpacking_example (list_and_tuples)
var1, var2, var3 = (1, 2, 3)
var4, var5, var6 = [1, 2, 3]

# Session 2: Python Syntax Essentials
•	Dictionaries and Sets:

o	Introduction to dictionaries and sets.

•	Control Flow:

o	Basics of if statements and loops.

o	Writing fundamental conditional and looped code.

In [130]:
#Dictionary
mw = {'CH4': 16.04, 'H2O': 18.02, 'O2':32.00, 'CO2': 44.01}

In [131]:
#print_dictionary_content
mw.items()

dict_items([('CH4', 16.04), ('H2O', 18.02), ('O2', 32.0), ('CO2', 44.01)])

In [132]:
#Retrive_value_using_key
mw['CH4']

16.04

In [133]:
#Dictionary_mutapilaty
mw['C8H18'] = 114.23
mw

{'CH4': 16.04, 'H2O': 18.02, 'O2': 32.0, 'CO2': 44.01, 'C8H18': 114.23}

In [134]:
#Rertive_key_using_value
for key, value in mw.items():
    if value == 16.04:
        print(key)

CH4

In [138]:
# Valid usage of a tuple as a key in a dictionary
my_dict = {(1, 2): "value"}
my_dict
# This would raise an error since lists are not hashable
#my_dict = {[1, 2]: "value"}

{(1, 2): 'value'}

if  logical_condition:

    <code to run>

In [151]:
#one_condition
a = 2
if a<5:
    print('less than five')

less than five

In [164]:
#multiple_if_statment
a = 2
if a<0:
    print('is negative')
elif a == 0:
    print('is zero')
elif a>0:
    print('is positive')

is positive

In [153]:
#if_else
a = "tuna"
b = "rice"
c = "limon"
if a ==  "tuna":
    print('yes, I am hungry, but I need limon')
else:
    print("No, I do not want to eat")

yes, I am hungry, but I need limon

In [154]:
#if_and_condition
if a ==  "tuna" and c == "limon":
    print('yes, I can eat now')

yes, I can eat now

In [155]:
#if_or_condition
if c == "limon" or b == "rice":
    print('No, I do not want to eat')

No, I do not want to eat

In [161]:
#Nested_if
if a == "tuna":
    if c == "limon":
        print("i want to eat now")
    else:
        print("I do not want to eat")

i want to eat now

In [ ]:
#for_loop
sequance = "ATCG"
list_var = [['Alice', 18], ['Bob', 22]]
for i in sequance:
    print(i)

In [193]:
for i in list_var:
    print(i)

['Alice', 18]
['Bob', 22]

In [194]:
for i,j in list_var:
    print(i, j)

Alice 18
Bob 22

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(0, len(sequance), 3):
    print(sequance[i])

In [ ]:
counter = 0
sequance = "CGTCGTCGTCATTACTAGT"
while counter < 10:
    print(sequance[counter])
    counter +=1

# Task 2 create AT complementary